body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.card {
  margin-top: 100px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: gold;
  font-weight: bold;
}

.hidden {
  display: none;
}

nav {
  margin: 10px 0;
}

.section {
  margin-top: 20px;
}

#chatBox {
  height: 200px;
  overflow-y: auto;
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.alertBtn {
  background: red;
  color: white;
}
